
.movie-search-bar {
  position:absolute; 
  top: 0px; 
  left:0px; 
  right:0px; 
  overflow:hidden;
  background: #ddd;
  color: #000;
}


.text-field-container{
  background: #ccc;
  border-radius: 5px;
  padding: 0px;

}

.text-field {
  font-size: 2.2em;
  background: #ccc;
  padding: 10px 10px;
  width: 670px;
  border-style: hidden;
}

.text-field:focus {
  outline: none;
}

.text-field-button{
  padding: 5px;
  background-color: #f00;
  margin:0px;
}